{
  "singleQuote": true,
  "semi": false,
  "arrowParens": "always",
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "objectProperties": "multiline",
  "objectKeySpacing": true,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "phpVersion": "7.4",
  "plugins": ["prettier-plugin-tailwindcss"]
}
